.maidot {
    padding: 1em;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 120%;
  }
  
  .maidot__row {
 
    justify-content: space-between;
    font-size: 85%;
    font-weight: lighter;
  }

  .maidot__grammat, .maidot__eurot {
    font-weight: bold;
  }