.maitotuotteet {
    border-bottom: 1px solid red;
    font-weight: bold;
    font-size: 120%;
    display: flex;
  }
  
  .maitotuotteet__rivi {
    display: flex;
    justify-content: space-between;
    font-size: 85%;
    font-weight: lighter;
  }

  .maitotuotteet > div {
      flex: 1 1 auto;
      padding: 1em;
  }

  .maitotuotteet__linkki {
    max-width: 1em;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .maitotuotteet:hover .maitotuotteet__linkki {
      display: flex;
  }

  .maitotuotteet__linkki a {
      color: rgba#000;
  }