
.header {
  background-color: deeppink;
    display: flex;
    justify-content: center;
    padding: 0.5em;
    max-height: 3em;
    min-height: 3em;
    color: black;
    align-items: center;
  
  }
  
  .header h1 {
    font-size: 1.5em;
  }
  
  