.wheat {
  padding: 1em;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 120%;
}


.wheat__row {
  
  justify-content: space-between;
  font-size: 85%;
  font-weight: lighter;
}


.wheat__grammat, .wheat__eurot {
  font-weight: bold;
}