.edeltäväkuukausi {
    padding-top: 1em;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-size: 120%;
  }
  
  .edeltäväkuukausi__row {
    padding-top: 1em;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    font-size: 85%;
    font-weight: lighter;

  }


